@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }
}
